

<div class="center">
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [(ngModel)]='date' [matDatepicker]="picker" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>
    
    <button mat-raised-button color="primary" (click)="view()" >View</button>
</div>
<table *ngIf="tasks.length!=0" class="table table-striped">
    <thead>
        <tr>
            <th>Sno</th>
            <th>Things Todo</th>
            <th>Date created</th>
            <th>Status</th>
            <th>option</th>
        </tr>
    </thead>
    <tbody>
        <tr [style.background-color]="getBackgroundColor(data.TaskStatus)" *ngFor="let data of tasks;let i=index">
            
            <td>{{i+1}}</td>
            <td>{{data.ThingsTodo}}</td>
            <td>{{data.DateCreated|date}}</td>
            <td>{{data.TaskStatus}}</td>
            <td>
                <button  mat-icon-button (click)='openEdit(data)'>
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)='delt(data.SerialNo)'>
                  <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>
